<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}AquaNote!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	
        <div class="wrapper">
        	
            <div class="content">
    	
                {% block mobile_header %}
                <div id="mobile-header">
                    <a href="" id="mobile-logo">
                    </a>
                    <a id="mobile-nav-btn">
                    </a>
                    <div id="mobile-nav">
                        <ul>
                            <li><a href="/">Discover</a></li>
                            <li><a href="/">Discover</a></li>
                            <li><a href="/">Discover</a></li>
                            <li><a href="/">Discover</a></li>
                        </ul>      
                    </div>
                </div>
                {% endblock %}
            
                <div class="search-bar">
                    <form method="GET" action="" class="js-sea-search sea-search">
                        <input type="search" name="q" placeholder="Search Sea Creatures" autocomplete="off" class="search-input">
                    </form>
                </div>
                <header class="header">
                    <img class="logo-icon" src="{{ asset('images/aquanote-logo.png') }}">
                    <h1 class="logo">AquaNote</h1>
                    <ul class="navi">
                        <li class="search"><a href="#" class="js-header-search-toggle"><i class="fa fa-search"></i></a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('security_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('security_login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </header>
        
                <div class="main-content">
                    {% block flash_messages %}
                    <div class="flash-container">
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="alert alert-notice">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    </div>
                    {% endblock %}
        
                    {% block body %}{% endblock %}
                </div>
                
            </div><!-- end .content -->

            {% block footer %}
            <div class="footer">
                <div class="footer-content">
                    <p class="footer-text">Made with <span class="heart"><3</span> <a href="https://knpuniversity.com">KnpUniversity</a></p>
                </div>
            </div>
            {% endblock %}
            
        </div><!-- end .wrapper -->

        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>

