{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ title }} {% endblock %}

{% block body %}
	<div class="centeridv">
    	{#{{ dump() }}#}
        
        <div>
            {{ safe }}
        </div>
        <div>
            {{ danger }}
        </div>
        
        <a href="{{ path('taxi_show_reviews', {'name': 'ok'}) }}">Json Notes</a>
    
    </div><!-- end .centeridv -->
    
{% endblock %}