{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ title }} {% endblock %}

{% block body %}
	<h1 class="page-header text-center">
        Welcome
        {{ app.user ? app.user.email : 'Aquanauts' }}!
    </h1>

	<div class="centeridv">
    	{#{{ dump() }}#}
        
        <div>
            {{ safe }}
        </div>
        <div>
            {{ danger }}
        </div>
        
        <a href="{{ path('genus_show_reviews', {'slug': 'Balaena'}) }}">Json Notes</a>
    
    </div><!-- end .centeridv -->
    
{% endblock %}