{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ title }} {% endblock %}

{% block body %}
	<div class="centeridv">
    
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        <div>
            {{ number }}
        </div>
        <div>
            <a href="{{ url }}">{{ url }}</a>
        </div>
    
    </div><!-- end .centeridv -->
    
{% endblock %}